body {
    background-color: rgba(126, 231, 100, 0.589);
}

.navBar {
    background-color: rgb(15, 69, 170);
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    text-align: center;
    color: red;
}
.label {
    font-size: 35px;
    color: rgb(236, 216, 28);
    text-decoration: none;
}

table {
  border: 1px solid black;
    width: 50%;
    margin:30px auto;
    margin-top: 50px;
    border-radius: 10px;

  }
  
  th {
    height: 50px;
    width: 40px;
    font-size: 25px;
    color: rgb(29, 26, 32);
    background-color: #465f5f;
    border: 1px solid black;
    border-radius: 10px;

  }
  
  td{
    width: 30%;
    height: 40px;
    background-color: #d2e9e9;
    text-align: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    border: 1px solid black;
    border-radius: 10px;

  }


